body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
    font-family: 'Consolas', monospace;
    color: #00ffcc;
}

#ui-layer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(0, 20, 40, 0.9);
    padding: 30px;
    border: 1px solid #00aaaa;
    box-shadow: 0 0 30px rgba(0, 170, 170, 0.2);
}

/* Heads Up Display (HUD) */
#hud {
    position: absolute;
    top: 20px;
    left: 20px;
    pointer-events: none; /* Let clicks pass through */
}

.hud-panel {
    background: rgba(0,0,0,0.5);
    border-left: 3px solid #00ffcc;
    padding: 10px;
    margin-bottom: 10px;
}

#interaction-prompt {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: #ffcc00;
    color: black;
    padding: 10px 20px;
    font-weight: bold;
    display: none; /* Hidden by default */
}

canvas { display: block; }
button {
    padding: 10px 20px;
    background: #003333;
    color: white;
    border: 1px solid #00ffcc;
    cursor: pointer;
    margin: 5px;
}
button:hover { background: #005555; }
.hidden { display: none !important; }
